html {
  font-size: 16px;
}

body {
  padding: 0;
  font-size: 1rem;
}

.App {
  max-width: 50rem;
  margin: 0 auto;
  padding: 1.25rem;
}

.App .section-container {
  margin: 2.25rem 0;
  padding: 1.25rem;
  border: 1px solid lightgray;
  border-radius: 10px;
}